body {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}

#banner {
    width: 60%;
}

.logo {
    height: 100%;
}

.container {
    font-family: "Helvetica", "Verdana", "Sans-Serif";
    width: 50%;
    text-align: center;
}

.container ul {
    list-style: none;
    text-align: center;
}

.container ul li {
    height: 50px;
    font-size: 3em;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: bold;
}