body {
    background-color: #000000;
    color: #FFFFFF;
}

#banner {
    width: 80%;
}

.logo {
    height: 100%;
}

.container {
    font-family: "Helvetica", "Verdana", "Sans-Serif";
    width: 60%;
    text-align: center;
}

.container ul {
    list-style: none;
    text-align: center;
}

.container ul li {
    height: 100px;
    font-size: 6em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: bold;
}